<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vehicles</title>
</head>
<body>
  <a href="/michael"><img src="/images/3ouqizo5.bmp" alt="motorcycle cat"></a>
  <a href="/eggo"><img src="/images/8q8t3v9l.bmp" alt="tank cat"></a>
  <a href="/slh"><img src="/images/k6xescwz.bmp" alt="plane cat"></a>
</body>
</html>
