<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<img src="/images/k6xescwz.bmp" alt="plane cat">
  <h2>Name</a>
  <h3><%= cat.name %></h3>
  <h2>Age</h2>
  <h3><%= cat.age %></h3>
  <h2>Sleeping Spots</h2>
  <h3><%= cat.spots %></h3>
</body>
</html>
